<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Bubblegum Idiomas</h3>
            <p>
              São Paulo , Brasil <br>
              <!-- New York, NY 535022<br>
              United States <br><br> -->
              <strong>Telefone:</strong> 11 99970-7157<br>
              <strong>Email:</strong> bubblegumschool@outlook.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4></h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre nós</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Nossos Cursos</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossos Cursos</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Aulas Particulares</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Aulas em Dupla</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inglês para Viagem</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="#">Formação de professores bilingues</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Bubblegum</span></strong>.
        </div>
        <div class="credits">

          Designed by <a href="">Vivi Tieghi</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>