<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>
    <%- include("./partials/header")%>

        <body>
            <main id="main" data-aos="fade-in">

                <!-- ======= Breadcrumbs ======= -->
                <div class="breadcrumbs">
                    <div class="container">
                        <h2>NOSSOS CURSOS</h2>
                        <p>Além das aulas online exclusiva para um pessoa ou mais , temos três pacotes de cursos online
                            para você iniciar hoje ! </p>
                    </div>
                </div><!-- End Breadcrumbs -->

                <!-- ======= Courses Section ======= -->
                <section id="popular-courses" class="courses">
                    <div class="container" data-aos="fade-up">
            
                      <div class="section-title">
                        <h2>Cursos</h2>
                        <p>Pacotes de Cursos Fechado</p>
                      </div>
            
                      <div class="row" data-aos="zoom-in" data-aos-delay="100">
            
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                          <div class="course-item">
                            <img src="images/course-1.jpg" class="img-fluid" alt="...">
                            <div class="course-content">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Eu quero!</h4>
                                <p class="price">$169</p>
                              </div>
            
                              <h3><a href="/cursoViagens">Inglês para Viagem</a></h3>
                              <p>Começe hoje mesmo a se preparar para sua viagem internacional</p>
                              <div class="trainer d-flex justify-content-between align-items-center">
                                <!-- <div class="trainer-profile d-flex align-items-center">
                                <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                                <span>Antonio</span>
                              </div> -->
            
                              </div>
                            </div>
                          </div>
                        </div> <!-- End Course Item-->
            
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                          <div class="course-item">
                            <img src="images/course-2.jpg" class="img-fluid" alt="...">
                            <div class="course-content">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Eu quero !</h4>
                                <p class="price">$250</p>
                              </div>
            
                              <h3><a href="/cursoprofessores">Formação de professores bilingues</a></h3>
                              <p>Inglês vai ser a habilidade mais requisitada no mercado de trabalho </p>
                              <!-- <div class="trainer d-flex justify-content-between align-items-center">
                              <div class="trainer-profile d-flex align-items-center">
                                <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                                <span>Lana</span>
                              </div> -->
            
                            </div>
                          </div>
                        </div>
            
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                          <div class="course-item">
                            <img src="images/course-3.jpg" class="img-fluid" alt="...">
                            <div class="course-content">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Eu quero!</h4>
                                <p class="price">$180</p>
                              </div>
              
                              <h3><a href="/cursobasico">Saia do básico!</a></h3>
                              <p>Melhore seu inglês e se Diferencie ;)</p><b>
              
                              </b>
                              <p>Curso completo de inglês com tudo o que você precisa saber para finalmente
                                sair do básico! Ao melhor estilo e metodologia BUBBLEGUM!</p>
                          
              
                            </div>
                          </div>
                        </div>
            
                        
                      </div> <!-- End Course Item-->
            
                      
                    </div> <!-- End Course Item-->
            
                    </div>
            
                    </div>
                  </section><!-- End Courses Section -->

            </main><!-- End #main -->

            <%- include("./partials/footer")%>

            <div id="preloader"></div>
            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>
          
            <!-- Vendor JS Files -->
            <script src="stylesheets/vendor/purecounter/purecounter.js"></script>
            <script src="stylesheets/vendor/aos/aos.js"></script>
            <script src="stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="stylesheets/vendor/swiper/swiper-bundle.min.js"></script>
          
            <!-- Template Main JS File -->
            <script src="javascripts/main.js"></script>
          
          </body>
          
          </html>

        