<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>
<%- include("./partials/header")%>
<body>

  <!-- ======= Header ======= -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Aprenda hoje,<br>Aprenda amanhã</h1>
      <h2>Na Bubblegum você aprende no seu tempo</h2>
      <a href="/cursos" class="btn-get-started">Vem conhecer</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">



    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Porque a Bubblegum?</h3>

              <p> Nosso slogan #inglêsdoseujeito preza pela individualidade e necessidade de cada aluno.
              </p>
              <p>Está pronto para voar?</p>

              <div class="text-center">
                <a href="/sobrenos" class="more-btn">Conheça mais <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Descubra seu quadrante </h4>
                    <p>Já percebeu que cada pessoa aprende inglês de um jeito diferente?</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Aulas Particulares</h4>
                    <p>montadas de acordo com o nível, quadrante e necessidade de cada aluno. </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Aulas em Dupla </h4>
                    <p> Faça quantas aulas quiser, no melhor horário para você e sua dupla. </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>
      </div>
      </div>
      <!-- </section> End Why Us Section -->

    

      <!-- ======= Popular Courses Section ======= -->
      <section id="popular-courses" class="courses">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Cursos</h2>
            <p>Pacotes de Cursos Fechado</p>
          </div>

          <div class="row" data-aos="zoom-in" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                <img src="images/course-1.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Eu quero!</h4>
                    <p class="price">$169</p>
                  </div>

                  <h3><a href="/cursoViagens">Inglês para Viagem</a></h3>
                  <p>Começe hoje mesmo a se preparar para sua viagem internacional</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <!-- <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <span>Antonio</span>
                  </div> -->

                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="images/course-2.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Eu quero !</h4>
                    <p class="price">$250</p>
                  </div>

                  <h3><a href="/cursoprofessores">Formação de professores bilingues</a></h3>
                  <p>Inglês vai ser a habilidade mais requisitada no mercado de trabalho </p>
                  <!-- <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                    <span>Lana</span>
                  </div> -->

                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="images/course-3.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Eu quero!</h4>
                    <p class="price">$180</p>
                  </div>
  
                  <h3><a href="/cursobasico">Saia do básico!</a></h3>
                  <p>Melhore seu inglês e se Diferencie ;)</p><b>
  
                  </b>
                  <p>Curso completo de inglês com tudo o que você precisa saber para finalmente
                    sair do básico! Ao melhor estilo e metodologia BUBBLEGUM!</p>
              
  
                </div>
              </div>
            </div>

            
          </div> <!-- End Course Item-->

          
        </div> <!-- End Course Item-->

        </div>

        </div>
      </section><!-- End Popular Courses Section -->

      <!-- ======= Trainers Section ======= -->
      <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">

          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="images/trainers/trainer-1.jpg" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>ROBERTA GUADAGNUCCI</h4>
                  <span>Nossa Fundadora !</span>
                  <p>
                    Com 20 anos de área na edução , estou aqui para te ajudar e apoiar na sua jornada com apredizado da lingua inglesa . </p>
                    <p>Vamos Juntos ?  
                   </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include("./partials/footer")%>
  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="stylesheets/vendor/purecounter/purecounter.js"></script>
  <script src="stylesheets/vendor/aos/aos.js"></script>
  <script src="stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="stylesheets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="javascripts/main.js"></script>

</body>

</html>